<header class="bg-dark text-light d-flex justify-content-between align-items-center py-4 px-2">
    <span class="logo ">
      <a class="navbar-brand" href="/">Aingaran's TinyApp</a>
    </span>

    <ul class="nav">

      <a class="nav-item nav-link" href="/url/new">Create New URL</a>
      <a class="nav-item nav-link" href="/urls">Show URLs</a>

      <% if(!userId){ %>

        <a href="/login" class="btn btn-danger mx-2">Login</a>
      <a href="/register" class="btn btn-info">Register
      </a>
      <% } else{ %>  
      Logged in as <%- email %>. <a href="/logout" class="btn btn-warning">Logout</a>

      <% } %>

    </ul>
</header>
