<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/_head'); %>
</head>
<body>

<header>
  <%- include('../partials/_header'); %>
</header>

<main class="container mx-auto my-4 bg-warning">
  <div class="jumbotron bg-info p-4 h-50 text-center">
    <h1>TinyApp</h1>

    <h3 class="my-4">Welcome <% if(userId) {%> back <%- email %><% } %> to Aingaran's URL Shortener.</h3>

    <p>Please register to add, edit or view your shortened URLs.</p>
  </div>
</main>

<footer>
  <%- include('../partials/_footer'); %>
</footer>

</body>
</html>