<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/_head'); %>
</head>
<body>

<header>
  <%- include('../partials/_header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Aingaran's TinyApp!</h1>

    <p>Welcome to my URL shortener.</p>
  </div>
</main>

<footer>
  <%- include('../partials/_footer'); %>
</footer>

</body>
</html>