<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/_head'); %>
</head>
<body class="h-100 d-flex flex flex-column bg-warning">

<header>
  <%- include('../partials/_header'); %>
</header>

<main class="h-100 bg-info d-flex flex justify-content-center align-items-center">
  <div class="bg-danger w-50 m-auto">
    <h1>404 - Page not found.</h1>
  </div>
</main>

<footer>
  <%- include('../partials/_footer'); %>
</footer>

</body>
</html>